@model  CertisVMSPortal.Models.UserViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout" + Session["Template"] + ".cshtml";
}



@section PageContent{

    <link href="~/Content/ValidationMessage.css" rel="stylesheet" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <div class="portlet box" style="margin-top:10px">
            <div class="portlet-title">
                <div class="caption">
                    Change Password
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <br />
                        <div>
                            <div>Password rules :</div>
                            <ul>
                                <li>Length must be at least 8 characters.</li>
                                <li>Include number [0-9].</li>
                                <li>Include Upper[A-Z] and lower case [a-z] character.</li>
                                <li>Include special char [!,@@,#,$,%,^,&,*,?,_,~,-,£,(,)]</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="control-label col-md-4">User ID</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(x => x.UserID, new { htmlAttributes = new { @class = "form-control", placeholder = "User ID", maxlength = "20", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="control-label col-md-4">Password<span class="RequiredField">*</span></label>
                                    <div class="col-md-8 validationboxnormal">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control text", Required = "", placeholder = "Confirm Password", maxlength = "50", id = "password" })
                                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="control-label col-md-4">Confirm Password</label>
                                    <div class="col-md-8 validationboxnormal">
                                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", Required = "", placeholder = "Confirm Password", maxlength = "50", id = "confirmPassword" })
                                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                    </div>
                    <div style="display:none">
                        @Html.EditorFor(x => x.UserID, new { htmlAttributes = new { @class = "form-control" } });
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-8">
                                        <button type="submit" onclick="return checkPasswordStrength()" class="btn btn_blue">
                                            <img class="img-submit" width="26" height="21">
                                            Save
                                        </button>
                                        <a href="@Url.Action("Index")" class="btn btn_blue">
                                            <img class="img-back" width="19" height="21">Back To List
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>


    }

}




@section QuickAction
{
    <ul>
        <li>
            <a href="@Url.Action("Index")" target="" class="active">
                <span>List</span>
                <i class="icon-list"></i>
            </a>
        </li>
    </ul>
}



@section Scripts{
    <script src="~/Scripts/CheckPasswordStrength.js"></script>
    <script>
        function clickShowPwd(id) {
            $("#" + id).on("mousedown", function () {
                $(this)[0].type = 'text';
            }).on("mouseup", function () {
                $(this)[0].type = 'password';
            });
        }

        clickShowPwd("password");
        clickShowPwd("confirmPassword");

    </script>
}

