@model  CertisVMSPortal.Models.UserViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}

<link href="~/assets3/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets3/nobel_book/font.css" rel="stylesheet" type="text/css" /><!-- Fonts -->
<link href="~/assets3/styleWhite.css" rel="stylesheet" type="text/css" />
<link href="~/assets3/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets3/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />

<form action="@Url.Action("ChangePasswordInitial")" method="post">

    <style type="text/css">
        .field-validation-error {
            color: red;
        }
    </style>

    @Html.AntiForgeryToken()

    <div class="portlet box" style="margin: 50px;">
        <div class="portlet-title">
            <div class="caption">
                <h4>Change Password</h4>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div>
                <div>Password rules :</div>
                <ul>
                    <li>Length must be at least 8 characters.</li>
                    <li>Include number [0-9].</li>
                    <li>Include Upper[A-Z] and lower case [a-z] character.</li>
                    <li>Include special char [!,@@,#,$,%,^,&,*,?,_,~,-,£,(,)]</li>
                </ul>

                @Html.ValidationMessage("ErrorMessage")
                
            </div>
            <div class="form-body">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">User ID</label>
                            <div class="col-md-9">
                                @Html.EditorFor(x => x.UserID, new { htmlAttributes = new { @class = "form-control", placeholder = "User ID", maxlength = "20", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Password<span class="RequiredField">*</span></label>
                            <div class="col-md-9 validationboxnormal">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control text", placeholder = "Confirm Password", maxlength = "50", Required = "", id = "password" })
                                
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Confirm Password</label>
                            <div class="col-md-9 validationboxnormal">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", maxlength = "50", Required = "" ,id ="confirmPassword" })
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
            </div>
            <div style="display: none">
                @Html.EditorFor(x => x.UserID, new { htmlAttributes = new { @class = "form-control" } });
            </div>
            <div class="col-md-12 validationboxnormal" style="padding-left:0; font-size:15px;">
                @Html.ValidationMessageFor(x => x.DisplayMessage, "", new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <br />
                                <button type="submit" onclick="return checkPasswordStrength()" class="btn btn_blue green">Save</button>
                                <a href="@Url.Action("Login")" class="btn btn-default">Back To Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/assets3/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/assets3/bootstrap.min.js"></script>
<script src="~/Scripts/CheckPasswordStrength.js"></script>

<script>

    function clickShowPwd(id) {
        $("#"+id).on("mousedown", function () {
            $(this)[0].type = 'text';
        }).on("mouseup", function () {
            $(this)[0].type = 'password';
        });
    }

    clickShowPwd("password");
    clickShowPwd("confirmPassword");


</script>
